input:invalid {
  background-color: pink;
}

input:valid {
 background-color: lightgreen;
}

.footer {
  position: relative;
  bottom: 0px;
  color: var(--secondary-text-color);
  width: 100%;
  font-family: "VT323";
  font-size: 2.5rem;
  padding-top: 10px;
  background-color: silver;
  height: 50px;
  text-align: center;
  justify-content: center;
 }

.form-picture img  {
  position: relative;
  top: 20px;
  height: 300px;
  border-radius: 5%;
  border: 3px solid black ;
  box-shadow: 10px 10px grey;
}
.contact-form {
  padding: 0 1.2rem;
  font-family: "VT323";
  font-size: 2rem;

}

.form-row {
  padding: 0.4rem;
}

input {
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
}
/*
input[id="otros"] {
  padding: 1rem 4rem;
  height: 200px;
}*/

.otros-hidden {
  visibility: hidden;
}
button[type="submit"] {
  background-color:green;
  padding: 1rem 4rem;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button[type="reset"] {
  background-color:red;
  padding: 1rem 4rem;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

select[name="fuente"] {
  background-color:grey;
  padding: 1rem 4rem;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
}

.observaciones {
  top: 0px;
}

/*
table {
  width: 100%;
  border-collapse: collapse;
}

tbody {
  background-color: #ffffff;
  color: black;
}

thead > tr {
  background-color: #f5f5f5;
  color: black;
}

th {
  height: 50px;
}

th,
td {
  padding: 0.5rem;
  border-bottom: 0.1rem solid #ddd;
}

td:nth-child(2) {
  text-align: right;
}

tbody > tr:hover {
  background-color: #dedddd;
}
*/