@font-face {
    src: url("../fonts/VT323/VT323-Regular.ttf");
    font-family: 'VT323';
  }

  @font-face {
    src: url("../fonts/Amstrad_CPC464_Regular/amstrad_cpc464.ttf");
    font-family: 'Amstrad';
  }
  
  
  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Amstrad';
    --main-text-color: #fbfc08;
    --secondary-text-color: #100063;
  }
  .cursor {
    background-color:var(--secondary-text-color);
    width: 26px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 165px;
    opacity: 1;
    animation: cursorAnimation 0.7s;
    animation-iteration-count: infinite;
  }

  .clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: silver;
    z-index: 1;
    height: 40px;
  }
  
  .menu > .menu__list {
    float: right;
    list-style-type: none;
    margin: 0;
    font-size: 0;
  }
  
  .menu > .menu__list > .menu__list__item {
    display: inline-block;
    font-size: 1rem;
    height: 40px;
    
  }
  
  .menu > .menu__list > .menu__list__item a {
    display: inline-block;
    text-decoration: none;
    padding: 13px;
    color: var(--secondary-text-color);
    background-color: var(--main-text-color);
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.3s linear;
  }
  
  .menu > .menu__list > .menu__list__item--active a {
    color: var(--main-text-color);
    background-color: var(--secondary-text-color);
    height: 40px;
  }
  
  .menu > .menu__list > .menu__list__item a:hover {
    color: var(--main-text-color);
    background-color: var(--secondary-text-color);
    height: 40px;
  }

  .header > .header__image {
    background-image: url(../img/64ck.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    }

  .header > .header__image:hover {
   
  }
  
  .header > .header__text1 {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    color: var(--main-text-color);
    font-family: "VT323";
    text-align: center;
    font-size: 6rem;
    animation: text1Animation 6s forwards;
  }
  
  .header > .header__text2 {
    overflow-x: hidden;
    position: absolute;
    left: -2000px;
    top: 55%;
    width: 100%;
    color: red;
    font-size: 3.2rem;
    font-family: "VT323";
    text-align: center;
    animation: text2Animation 3s forwards;
    animation-delay: 0.8s;
  }

  .header > .header__text3 {
    position: absolute;
    top: 1000px;
    width: 100%;
    color: green;
    font-size: 2rem;
    font-family: "VT323";
    text-align: right;
    opacity: 0;
    animation: text3Animation 3s forwards;
    animation-delay: 4s;
  }

  .quien-soy {    
    height: 100vh;
    padding-top: 200px;
  }

  .quien-soy > .quien-soy__video {
    top: 80%;    
    float: right;
    max-width: 50%;
  }
  
  .quien-soy > .quien-soy__text {
    font-family: "VT323";
    color: var(--secondary-text-color);
    font-size: 2.5rem;
    /*float: left;*/
    max-width: 50%;
  }

  .formacion {    
    height: 100vh;
    padding-top: 200px;
  }

  .sobre-mi {    
    height: 100vh;
    padding-top: 200px;
  }

  @keyframes cursorAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

@keyframes text1Animation {
  0% {
    font-size: 2px;
  }
  100% {
    font-size: 150px;
  }
}

@keyframes text2Animation {
  0% {
   left: -10000px;
  }
  100% {
    left: 0px;
  }
}

@keyframes text3Animation {
  0% {
   top: 200px:
  }
  100% {
    opacity: 1;
    top: 100px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.footer {
  color: var(--secondary-text-color);
  padding-top: 10px;
  background-color: silver;
  height: 50px;
  text-align: center;
  justify-content: center;
 }